.contacts {
  color: white;
  text-align: right;
  margin: 0
}

.contacts__time {
  font-size: 14px;
  font-weight: bold;
}

.contacts__phone {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
