.index-content {
  margin-top: 318px;
}

.index-content__double-offer {
    margin-bottom: 32px;
}

.index-content__specials {
  margin-bottom: 40px;
}

.index-content__hits {
  position: relative;
  z-index: 10;
}

.index-content__features {
  margin-bottom: 40px;
}

.index-content__blog-news {
  margin-right: 26px;
}

.index-content__two-col-sections {
  margin-bottom: 40px;
}

.index-content__map {
  margin: 0 auto;
}
