
.main-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 29px;
}

.main-footer__nav {
  margin-left: 21px;
  margin-top: 31px;
}

.main-footer__copyright {
  margin-top: 20px;
}
