@import "../mixins";

.slider__slides {
  @include reset-list;
  text-align: center;
}

.slider__slide {
  display: none
}

.slider__slide--active {
  display: block;
}

.slider__slide-bg {
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: opacity 0.3s ease-out;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

.slider__slide-bg--active {
  opacity: 1;
}

.slider__slide-title {
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  line-height: 60.35px;
  margin-bottom: 41px;
}

.slider__controls {
  @include reset-list;
  display: flex;
  position: relative;
  top: -30px;
  max-width: 100px;
}

.slider__control {
  @include reset-button;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;

  border: 2px solid white;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba(white, 0.4);
  }

  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.slider__control--active {
  background-color: white;
  &:hover, &:focus {
    background-color: white;
  }
}

.slider__background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  // background-image: url('../img/ice-cream-slider1@1x.png');
  // background-repeat: no-repeat;
  // background-position: top center;
  // transition-property: color, background-image;
  // transition-duration: 0.3s;
  // transition-timing-function: ease-in;
}
